<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quiz</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">-->
</head>

<body>

<form th:action="@{/gradeQuiz}" method="POST">

    <!-- EACH QUESTION -->
    <div th:each="question : ${questions}">
        <fieldset>
            <legend th:text="${question.content}"></legend>

            <!-- Each choice-->
            <div th:each="choice : ${question.answerChoices}">
                <input type="radio"
                       th:id="${choice.id}"
                       th:name="${question.id}"
                       th:value="${choice.id}"
                       th:checked="${answers != null and answers[question.id.toString()] == choice.id.toString()}" > <!-- re-check answers on submission -->

                <label th:for="${choice.id}"
                       th:text="${choice.content}"></label>

            </div>

            <!-- Add result if form has been submitted -->
            <p th:if="${results != null}" th:text="${results[question.id]}"></p>

        </fieldset>
        <br>
    </div>

    <div class="submit-btn">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

</body>

</html>



